<div class="container" id="container">

    <div class="form-container sign-in-container">
      <!-- Template driven from, form validation using Reactive Forms-->
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <br>
        <br>
        <div class="form-group">
          <h1>Sign up</h1>
          <br>
          <div class="form-group">
            <input type="text" placeholder="UserName" class="form-control" name="username" [(ngModel)]="form.username"
              required minlength="3" maxlength="20" #username="ngModel" />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors?.['required']">Username is required</div>
              <div *ngIf="username.errors?.['minlength']">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors?.['maxlength']">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="form.email" required
              email #email="ngModel" />
            <div class="alert-danger" *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="Password" placeholder="password" [(ngModel)]="form.password"
              required minlength="6" #password="ngModel" />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors?.['required']">Password is required</div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
  
  
            <div class="form-group">
              <input type="password" class="form-control" name="confirmpassword" placeholder="confirmpassword "
                [(ngModel)]="confirmpass" required minlength="6" #confirmpassword="ngModel" [(ngModel)]="confirmpass"
                pattern="{{form.password}}" required />
              <div class="alert-danger" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors?.['pattern']">not matched</div>
              </div>
  
            </div>
  
          </div>
  
  
          <div class="form-group">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
  
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
        </div>
      </form>
      <br>
  
    </div>
  
  
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome To Kaddem!</h1>
          <p>To Sign Up with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Welcome To Kaddem!</h1>
          <p>Enter your personal details and create an account with us</p>
  
          <button class="ghost" id="signIn" onclick="window.location.href = '/login';">Sign In</button>
          <p>already have an account?</p>
  
        </div>
      </div>
    </div>
  </div>