<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <form class="navbar-form">
                            <div class="input-group no-border">
                                <td colspan="2" style="text-align: right"></td>
                                <input style="width:15px;margin-bottom:0px" type="text" [(ngModel)]="searchvalue" (input)="onsearch()"
                                    class="form-control" placeholder="Search... " x>

                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>

                            </div>
                        </form>


                <button mat-raised-button class="btn btn-success" (click)="openDialog(null)">
                    Ajouter
                </button>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des Etudiants </h4>
                    
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        username
                                    </th>
                                    <th>
                                        email
                                    </th>
                                    <th>
                                        option
                                    </th>
                                 
                                
                                   
                                    <th>
                                        Actions
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor='let etudiant of listeEtudiant'>
                                       <div [routerLink]="['/home/etudiant/details/',etudiant.id]"> 
                                        <td>{{etudiant.username}}</td>
                                    </div> 
                                        <td>{{etudiant.email}}</td>
                                        <td [ngStyle]="{color: getColor(etudiant.opt)}">{{etudiant.opt}}</td>
                                     
                                        <!-- <td>{{etudiant.departement.nomDepart}}</td> -->
                                   
                                        <td><button mat-raised-button (click)="openDialog(etudiant)" class="btn btn-primary">
                                               <i class="material-icons">edit</i>
                                        </button></td>

                                     
                                        <button mat-raised-button rel="tooltip" class="btn btn-danger"
                                        (click)="deleteEtudiant(etudiant.id)">
                                        <i   class="material-icons">delete</i></button>

                                       


                
                                </tbody>
                            </table>
                                                        

                            <button mat-raised-button rel="tooltip" class="btn btn-danger"
                            (click)="Trierr()">Triee</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
