
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
       
         

            <!-- <form>
                <div class="row" class="col-md-6">
                    <input type="text" placeholder=" Name" [(ngModel)]="etud.nomE"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <div class="row" class="col-md-6">
                    <input type="text" placeholder="Prenom" [(ngModel)]="etud.prenomE"
                        [ngModelOptions]="{standalone : true}">
                </div>
                <input disabled matInput >
                <input
                  type="file"
                  (change)="handleProfilePictureInput($event.target.files)" formControlName="image">
                <img id="importer" class="profile-picture" [src]="etud.image">
            
             
                <br>
                <button type="button" class="btn btn-success" (click)="addEtudiant(etud)">Add</button> 
                <button type="button" class="btn btn-info">Cancel</button>
            </form>
                 -->



            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Listes des one  Etudiants</h4>
                      
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                   
                                    <th>nomFomrmation</th>
                                    <th>sujet</th>
                                    <th>lieu</th>
                                    <th>datedebut</th>
                                    <th>datefin</th>
                                    <th>description</th>
                                    



                                    <!-- <th>Departement</th> -->
                                  
                                </thead>
                                <tbody>
                           
                                     
                                       
                                        <td>{{formation.nomFomrmation}}</td>
                                        <td>{{formation.sujet}}</td>
                                        <td>{{formation.lieu}}</td>
                                        <td>{{formation.datedebut | date}} </td>
                                        <td>{{formation.datefin | date}} </td>
                                        <td>{{formation.description}} </td>
                                    
                                  
                                </tbody>

                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  