<h1 mat-dialog-title>Departement</h1>
<div mat-dialog-content>
  <form [formGroup]="Formdep" class="form">
    <label> Nom departement</label>
    <input name="nomDepart" formControlName="nomDepart" class="form-control" />
    <div *ngIf="Formdep.get('nomDepart').errors">
      <div *ngIf="Formdep.get('nomDepart').hasError('required')">required</div>
      <div *ngIf="Formdep.get('nomDepart').hasError('minlength')">
        minlength
      </div>
      <div *ngIf="Formdep.get('nomDepart').hasError('pattern')">pattern</div>
    </div>

    <label> description</label>
    <input
      name="description"
      formControlName="description"
      class="form-control"
    />
    <div *ngIf="Formdep.get('description').errors">
      <div *ngIf="Formdep.get('description').hasError('required')">
        required
      </div>
      <div *ngIf="Formdep.get('description').hasError('minlength')">
        minlength
      </div>
      <div *ngIf="Formdep.get('description').hasError('pattern')">pattern</div>
    </div>
  </form>

</div>

<div mat-dialog-actions align="end">
    <button mat-button class="btn btn-secondary" mat-dialog-close>Fermer</button>
    <button mat-button class="btn btn-primary" (click)="addDepartement()">{{data ? 'Modifier': 'Ajouter'}} </button>
  </div>
