<div class="main-content">

    <div class="container-fluid">
        <form>

            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="searchvalue" (input)="onsearch()" placeholder="Search... ">
              </mat-form-field>
            
        </form>



        <div class="d-flex flex-column">

            <form [formGroup]="reactiveForm">
                <mat-form-field>
                  <mat-label>Date debut</mat-label>
                  <input matInput placeholder="dateDebutContrat"   name="dateDebutContrat " formControlName="dateDebutContrat">
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Date fin</mat-label>
                    <input matInput placeholder="dateFinContrat"   name="dateFinContrat " formControlName="dateFinContrat">
                  </mat-form-field>
        
                  <mat-form-field>
                    <mat-label>Montant</mat-label>
                    <input matInput placeholder="montantContrat"   name="montantContrat " formControlName="montantContrat">
                  </mat-form-field>
        
                  <mat-slide-toggle formControlName="archive" name="archive">
                        Archive
                  </mat-slide-toggle>

                  <button mat-raised-button class="btn btn-primary" (click)="addCont()">Ajouter</button>
            </form>
                
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Listes des Contacts</h4>
                      
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>date_debut</th>
                                    <th>date_Fin</th>
                                    <th>archive</th>
                                    <th>montantContrat</th>
                                  
                                </thead>
                                <tbody>
                                    <tr *ngFor='let p of listcontacts'>
                                
                                        <td>{{p.datedeb}}</td>
                                        <td>{{p.datefin}}</td>
                                        <td>{{p.archive}}</td>
                                        <td>{{p.montantContrat}}</td>
                                    
                                   
                                        <td><button  mat-raised-button class="btn btn-success" (click)="openDialog(p)"> 
                                            <i class="material-icons" >edit</i></button> 
                                      
                                           
                                          
                                      
                                <button mat-raised-button  rel="tooltip"  class="btn btn-danger" (click)="deleteCont(p.idContrat)"><i class="material-icons">delete</i></button> 

                                  
                                                
                                                  
                                    
          
                                                  
                                    
                                    </tr>
                                    
                                
                                           
    
                                    
                                   
                                   
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  