<div class="main-content">
    <div class="container-fluid">
        <form class="col-md-6">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (input)="onSearchByName()" autocomplete="off" placeholder="Search">
        </form>

        <a routerLink="new" [ngClass]="['btn', 'btn-primary']">+ Equipe</a>
        <div class="row">
            <h3 *ngIf="equipes.length === 0"> no elements found !</h3>
            <div class="col-4" *ngFor="let e of equipes">
               <app-equipe
               [equipe]="e"
               (notification)="deleteEquipe($event)"
               >
               </app-equipe>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing {{(page*pageSize)-(pageSize-1)}} to {{page*pageSize}} of {{length}}</p></div>
        </div>
    </div>
</div>
